extends layout

block styles
  link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
  link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
  link(href='/vendor/nv.d3.css',rel='stylesheet')
  link(href='/styles/main.css',rel='stylesheet')

block scripts 
  include templates
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js')
  script(src='/vendor/bootstrap.min.js')
  script(src='/vendor/d3.min.js')
  script(src='/vendor/nv.d3.min.js')

  if env == 'production'
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDAJyU7LWO56u8556pCCILlmB45qpcCbJc&sensor=true&libraries=geometry')
  else
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDh51Oc4-bpuZ0kTHP5qNXit_yn7_wCOGc&sensor=true&libraries=geometry')
  
  script(src='/scripts/properties.js')  
  script(src='/scripts/time.js')
  script(src='/scripts/chart.js')
  script(src='/scripts/maps.js')
  script(src='/scripts/app.js')

block content
  #container

    .header
      .title 
        h1 Property Visualizer
        
      .help 
        a(href='#', data-toggle="modal", data-target=".modal") What is going on 
          i.icon-question-sign
        
      include time

        
    .legend
      h4 Miles
      .ranges

    .map-canvas

    .chart
      svg

    include modal
