extends layout

block styles
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css")

block scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js')
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js")

block content
  .container 
    h1 Hello world!  



