extends layout

block styles
  link(rel="stylesheet", href="/vendor/bootstrap.min.css")
  link(rel="stylesheet", href="/vendor/font-awesome.css")
  link(rel='stylesheet', href='/styles/main.css')

block scripts
  script(src='/vendor/jquery.min.js')
  script(src='/vendor/angular.min.js')
  script(src="/vendor/bootstrap.min.js")

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDh51Oc4-bpuZ0kTHP5qNXit_yn7_wCOGc&sensor=true')
  script(src='/scripts/main.js')

block content
  .container 
    h1 Hello world! 
    #map-canvas



