script(type='text/x-handlebars-template', id='info-template')
  {{#if value}}
  h4 Max Dispatch Distance = {{value}} miles
  {{/if}}

  {{#unless value}}
  h4 Oops! No value at current time and location! 
  p Drag the map to choose another location or pick another time in the above dropdown.
  {{/unless}}