.time
  span 
    i.icon-hand-up
    |  Pick a time! 
  .input-group.time-selectors
    .btn-group
      button(type="button", class="btn btn-default btn-lg dropdown-toggle selected-hour", data-toggle="dropdown") 1
      ul.dropdown-menu
        li.hour(data-value='1')
          a 1
        li.hour(data-value='2')
          a 2
        li.hour(data-value='3')
          a 3
        li.hour(data-value='4')
          a 4    
        li.hour(data-value='5')
          a 5    
        li.hour(data-value='6')
          a 6    
        li.hour(data-value='7')
          a 7    
        li.hour(data-value='8')
          a 8    
        li.hour(data-value='9')
          a 9    
        li.hour(data-value='10')
          a 10
        li.hour(data-value='11')
          a 11    
        li.hour(data-value='12')
          a 12
    
    strong.colon :

    .btn-group
      button(type="button", class="btn btn-default btn-lg dropdown-toggle selected-minute", data-toggle="dropdown") 00
      ul.dropdown-menu
        li.minute(data-value='00')
          a 00
        li.minute(data-value='05')
          a 05
        li.minute(data-value='10')
          a 10
        li.minute(data-value='15')
          a 15
        li.minute(data-value='20')
          a 20   
        li.minute(data-value='25')
          a 25
        li.minute(data-value='30')
          a 30
        li.minute(data-value='35')
          a 35
        li.minute(data-value='40')
          a 40
        li.minute(data-value='45')
          a 45
        li.minute(data-value='50')
          a 50   
        li.minute(data-value='55')
          a 55   
      
    .btn-group
      button(type="button", class="btn btn-default btn-lg dropdown-toggle selected-apm", data-toggle="dropdown") AM
      ul.dropdown-menu
        li.apm(data-value='AM')
          a AM
        li.apm(data-value='PM')
          a PM