.navbar.navbar-inverse.navbar-fixed-top
  .container
    a.navbar-brand(href="/") My App
    .nav.navbar-nav
      li 
        a(href="/#") Link
      li 
        a(href="/#") Link

      
    if !user 
      a(href='/login').btn.btn-default.navbar-btn.pull-right Sign in
    else 
      p.navbar-text.pull-right(href='/account') signed in as 
        a(href='/account') #{user.username} 
        a(href='/logout', data-method='post') (logout)
