#container 
  max-width 1200px
  margin auto

body
  padding 0

#map-canvas 
  height 500px
  width 100%

#chart svg
    height 250px

/*************************/


#legend
  i 
    display block
    font-size 24px

#title
  display inline-block
  text-align center
  margin-left 10px


#time
  float right
  margin 20px 0
  h1
    display inline-block
  .group
    display inline-block
  .time-selectors
    width 200px
  .dropdown-menu
    min-width 0px
  .colon
    padding 6px
  .selected-apm
    margin-left 10px

#currentValue
  font-size 36px
/*************************/

@media (max-width: 767px)
  h2 
    font-size 28px

  #map-canvas 
    height 300px


  #legend 
    .badge
      display initial
    h2
      text-align right