#container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  min-width: 460px;
}
html,
body {
  padding: 0;
  height: 100%;
}
.map-canvas {
  height: 50%;
  width: 100%;
}
.chart {
  height: 40%;
}
.header {
  height: 10%;
}
/*************************/
.legend {
  background: #fff;
  border: 1px solid #808080;
  padding: 8px;
  border-radius: 5px;
  text-align: right;
}
.legend .range .range-label {
  font-size: 16px;
}
.legend .range i {
  font-size: 28px;
  margin-left: 5px;
}
.title {
  float: left;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.chart svg text {
  font-size: 14px;
}
.time {
  float: right;
  margin: 20px 10px 0 0;
  display: inline-block;
}
.time .group {
  display: inline-block;
}
.time .dropdown-menu {
  min-width: 0px;
}
.time .colon {
  padding: 6px;
}
.time .btn-group .selected-apm {
  margin-left: 10px;
}
#currentValue {
  font-size: 32px;
}
/*************************/
@media (max-width: 767px) {
  .map-canvas {
    height: 50%;
  }
  .chart {
    height: 36%;
  }
  .header {
    height: 14%;
  }
  .title {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .title h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .time {
    margin: 10px 0;
    width: 100%;
    float: none;
    text-align: center;
  }
  .time .time-selectors {
    width: 100%;
  }
  .chart svg text {
    font-size: 12px;
  }
  .legend {
    padding: 5px;
    border-radius: 5px;
  }
  .legend .range .range-label {
    font-size: 16px;
  }
  .legend .range i {
    font-size: 20px;
    margin-left: 3px;
  }
  #currentValue {
    font-size: 24px;
  }
}
