#container {
  max-width: 1200px;
  margin: auto;
}
body {
  padding: 0;
}
#map-canvas {
  height: 500px;
  width: 100%;
}
#chart {
  display: block;
}
#chart:hover {
  cursor: move;
}
#chart:active {
  cursor: move;
}
#chart svg {
  height: 300px;
}
#chart svg .nv-bar:nth-child(13) {
  fill: #f00 !important;
  stroke: #f00 !important;
}
.selected {
  stroke: #f00 !important;
  fill: #f00 !important;
}
#legend {
  font-size: 30px;
}
#legend .badge {
  display: block;
  width: 50%;
  text-align: center;
  margin: auto;
}
#title,
#legend,
#values {
  max-width: 50%;
}
svg text {
  font: size 15px !important;
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
  #map-canvas {
    height: 300px;
  }
  #legend .badge {
    display: initial;
  }
  #legend h2 {
    text-align: right;
  }
}
